//
// Variables
// --------------------------------------------------

// Table pager
// --------------------------------------------------

@table-pager-loading-color: @brand-primary;
@table-pager-loading-bg:    rgba(255,255,255,0.7);
@table-pager-loading-icon:  "\f013";
@table-pager-loading-size:  32px;
